.footer {
  background-color: #f0ebe0; /* crema claro */
  color: #52796f;
  font-family: 'Nunito', sans-serif;
  font-size: 0.9rem;
  box-shadow: 0 -2px 16px rgba(200, 180, 140, 0.07);
}

.footer h5 {
  color: #3a5a40;
}

.footer a {
  color: #52796f;
  transition: color 0.3s;
  text-decoration: none;
}

.footer a:hover {
  color: #e9c46a;
}

.footer ul li {
  margin-bottom: 0.5rem;
}

.footer hr {
  border-top: 1px solid #e6d7b7;
}

.footer .text-center {
  color: #b9b68c;
}
