.footer {
  background-color: #f0ebe0; /* crema claro */
  color: #52796f;
  font-size: 0.9rem;
  box-shadow: 0 -2px 16px rgba(200, 180, 140, 0.07);
}

.footer h5 {
  color: #3a5a40;
}

.footer ul li {
  margin-bottom: 0.5rem;
}

.footer hr {
  border-top: 1px solid #e6d7b7;
}

.footer .text-center {
  color: #b9b68c;
}

.footer a {
  color: #6b6b6b;
  text-decoration: none;
  transition: color 0.3s ease;
  font-weight: 600;
}

.footer a:hover {
  color: #9271c2 !important;  /* lila pastel */
  text-decoration: underline dotted;
}

